#about{
    padding-top: 12vh;
    margin-top: 2vh;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    position: relative;
}


#about #about-text{
    font-size: 0.95em;
    margin-left: 11vw;
    align-self: flex-start;
    margin-top: 2vh;
    max-width: 70vw;
}

#about ul{
    margin: 25px;
}

#about ul li{
    margin: 8px;
}

#about ul li .name{
    font-weight: 900;
    font-size: 1.2em;
}
#about ul li .value{
    font-size: 0.9em;
    margin-left: 8px;
}

#about a{
    all: unset;
    text-decoration: underline;
}

#about a:hover{
    cursor: pointer;
}

#about a:focus{
    color: white;
    outline: 1px solid #67676d;
}

#about-text h3{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 900;
}


@media only screen and (max-width: 600px) {
    #about #about-text{
        text-align: justify;
        margin-top: 40px;
        margin-left: 10vw;
        max-width: 80vw;
    }

    #about #about-text ul li .name{
        font-size: 1em;   
        text-align: left;
    }
    #about #about-text ul li .value{
        font-size: 0.85em;
        text-align: left;
    }
}

