#achievements{
    padding-top: 28vh;

    min-height: 60vh;

    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    .main-section-title>h3{
        font-family: "Inter", sans-serif;
    }
    .cards{
        margin-top: 2vh;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    .cards::after {
        /*Dummy item with 0 width to make others expand*/
        content: "";
        flex: 0;
    }
    .academic-card{
        flex: 1 1 400px;
        border-radius: 16px;
        border: 2px solid var(--color-text-dim);
        padding: 1rem;
        margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .academic-card:hover{
        box-shadow: var(--color-secondary) 0 0 10px 1px;
        cursor: pointer;
    }
    .academic-card .title{
        font-size: 1.2em;
        font-weight: 700;
        a {
            text-decoration: none;
            color: unset;
        }
    }

    .academic-card .subtitle{
        font-size: 0.8em;
        color: #85858d;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        margin: 0;
        padding: 1rem;
    }
}

@media screen and (max-width: 768px){
    #achievements{
        .cards{
            width: 90%;
        }
        .academic-card{
            flex: 1 1 300px;
            font-size: 0.8rem;
        }
        .main-section-title{
            margin-left: 0;
        }
    }
}