/* RESET CSS START */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


/*Only supported on chrome mostly*/
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* RESET CSS END */

/* VARIABLES START */

:root {
    --black: #000000;
    --gray: #666666;
    --white: #ffffff;
    --off-white: #c3c3c3;

    --background: #1F1F1F;
    --bg-overlay: #282828;
    /*
    --background: #1F1F1F;
    */
    --text: #D1CFC0;
    --primary: #C9C7B8;
}

/* VARIABLES END */

html {
    scroll-behavior: smooth;
}
