#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: clip;
    min-height: unset;

    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
        margin-top: 6rem;
    }

    .title{
        align-self: flex-start;
    }

    .title p, label {
        text-align: left;
        font-size: 0.9rem;
        font-weight: 600;
        color: rgb(209 207 192 / 0.52);
    }

    .title h2 {
        text-align: left;
        font-size: 3rem;
    }


    form{
        margin-top: 4rem;
        font-size: 0.95em;
        max-width: 70vw;
        display: flex;
        flex-direction: column;
    }

     form textarea{
        font-size: 0.95em;
        outline: none;
        border: 2px solid #67676d;
        border-radius: 10px;
        padding: 10px;
        color: #D1CFC0;
        background-color: rgb(31 31 31 / 0.61);
        font-family: 'Inter', sans-serif;
        margin-bottom: 48px;
        margin-top: 12px;
        resize: none;
    }

    form input[type="email"]{
        font-size: 0.95em;
        outline: none;
        border: 2px solid #67676d;
        border-radius: 10px;
        padding: 10px;
        color: #D1CFC0;
        background-color: #1F1F1F;
        font-family: 'Inter', sans-serif;
        margin-bottom: 24px;
        margin-top: 12px;
        display: inline-block;
        width: 80%;
        margin-right: 0;
    }

    .email-submit{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        gap: 1rem;

        input {
            flex: 85;
        }
        button{
            flex: 25;
            width: 100%;
            min-width: 2rem;
            height: 3rem;
            border: none;
            background: var(--primary);
            border-radius: 18px;
            font-size: 0.8rem;
            font-weight: 600;
            transition: all 0.1s ease-in-out;
            margin-top: -10px;
        }
        button:hover, button:active{
            border-radius: 14px;
            cursor: pointer;
            opacity: 1;
            font-size: 0.9rem;
        }
    }

    a{
        all: unset;
        text-decoration: underline;
    }

    a:hover{
        cursor: pointer;
    }

    a:focus{
        color: white;
        outline: 1px solid #67676d;
    }

    #contact-success-msg{
        text-align: center;
        width: 90%;
        margin: 5px auto 0;
    }

    #contact-error-msg{
        margin-bottom: 50px;
        margin-right: auto;
        margin-left: auto;
        color: #fe5186;
    }
}

@media (max-width: 800px) {
    #contact {
        form {
            max-width: unset;
        }

    }
}

@media (max-width: 450px) {
    #contact {
        form {
            width: 80vw;
        }

    }
}