/*
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*/

@import "variables.css";


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    color-scheme: dark;
}

html{
    scroll-behavior: smooth;
}

.main-section-title{
    align-self: flex-start;
    margin-left: 10vw;
}

.main-section-title h2{
    font-size: 2em;
    margin-left: 0.15em;
}

.main-section-title h3{
    font-weight: unset;
    margin: 4px;
}
br{
    margin: 4px;
}

a:focus-visible{
    color: white;
    outline: 1px solid #67676d;
}

a:active{
    color: white;
}

.no-display{
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .no-mobile{
        display: none !important;
    }
    
    .main-section-title{
        width: 80%;
    }

    .main-section-title h2{
        font-size: 2em;
        text-align: left;
        margin-bottom: 10px;
        margin-left: 10% !important;
    }
    .main-section-title h2 span{
        display: none;
    }
    .main-section-title h3{
        font-size: 0.85em;
        color: #babac6;
        text-align: left;
        margin-left: 10% !important;
    }
}

@media only screen and (min-width: 600px) {
    .only-mobile{
        display: none !important;
    }
}

/*v2*/
.v2 {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}