header{
    position: fixed;
    z-index: 80; /*Be careful about stacking contexts: https://www.joshwcomeau.com/css/stacking-contexts/ */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    padding:  2rem;
    width: 100%;
    background: var(--background);
}

header .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

}
header .left img{
    width: 3rem;
    border-radius: 50%;
}


header .left .text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

#name{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text);
}

#tagline{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.6rem;
    color: var(--text);
    opacity: 0.8;
}

header .right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    a{
        text-decoration: none;
        color: var(--text);
        font-size: 1rem;
        margin: 0 0.5rem;
        font-weight: 600;
        opacity: 0.8;
    }
    a:hover{
        text-decoration: none;
        color: var(--text);
        opacity: 1;
    }
}

@media(max-width:800px){
    header .right{
        display: none;
    }
    header {
        padding: 0.5rem;
    }

    #name{
        font-size: 1.2rem;
    }
    #tagline{
        font-size: 0.6rem;
    }
    header .left img {
        width: 2.5rem;
    }
    header .left{
        padding: 0.25rem;
    }
}