main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: clip;
    color: white;
    height: 90vh;
    width: 100%;
    margin-top: 10vh;
}

.main-card {
    /*border: 2px solid #6A6D6E;
    border-radius: 10px;
    box-shadow: 0 0 100px black;
    background-color: #2D2D2D;*/
    box-sizing: border-box;
    height: fit-content;
    width: 70%;
    overflow: clip;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.1s;
    *{
        box-sizing: border-box;
    }
    >.left{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        .dp{
            display: flex;
            align-items: center;
            border-radius: 50%;
            overflow: clip;
            width: 200px;
            aspect-ratio: 1;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    >.right {
        box-sizing: border-box;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 2%;
        padding-bottom: 2%;
        height: 100%;


        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.2em;
            color: #85858d;
        }
        p{
            font-size: 0.75em;
            margin-top: 10px;
            margin-right: 48px;
            /*justify text*/
            text-align: justify;
            color: #c9c9cc;
        }
        .socials{
            width: 100%;
            margin: 24px 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            a{
                transition: all 0.1s;
                text-decoration: none;
                padding: 0.8em 1.6em;
                font-size: 0.65em;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                width: fit-content;
                flex-direction: row;
                background: rgba(106, 109, 110, 0.7);
                color: white;

                svg {
                    transform: scale(0.6);
                }
                &:hover{
                    background: rgba(106, 109, 110, 0.2);
                }
                i {
                    margin-right: 5px;
                    font-size: 2em;
                }
            }
        }

        .btn-resume {
            justify-self: flex-start;
            margin-right: auto;
            outline: none;
            border: 2px solid var(--color-text-dim);
            font-weight: 700;
            font-size: 0.9em;
            /*background-color: var(--color-primary);*/
            padding: 12px 18px;
            /*width: 7em;
            height: 3em;*/
            border-radius: 8px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            background: rgba(103, 103, 109, 0.3);
            gap: 8px;

            svg {
                margin-top: 0.2em;
            }
            :last-child{
                margin-right: 8px;
            }
        }

        .btn-resume:hover{
            cursor: pointer;
            background: rgba(106, 109, 110, 0.2);
            /*box-shadow: var(--color-text-dim) 0 0 10px 1px;*/
        }
    }
}

main #scroll-hint {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.1s;
    animation: scroll-hint-bounce 10s infinite ease-in-out;
    color: #4A4E4E;
    &:hover{
        cursor: pointer;
        color: #85858d;
    }



}
@keyframes scroll-hint-bounce {
    0% {
        transform: translate(-50%, 0);
    }
    3% {
        transform: translate(-50%, 10px);
    }
    6% {
         transform: translate(-50%, -10px);
    }
    8% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}


.floating-image{
    position: absolute;
    width: 3vw;
    height: 3vw;
    z-index: -1;
    opacity: 0.15;
    border-radius: 50%;
    overflow: hidden;
    rotate: 45deg;
}
.floating-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
