body{
    background-color: #232425;
    color: #babac6;
    font-family: 'Inter', sans-serif;
    max-width: 100vw;
    margin: 0;
}
main{
    height: 95vh;
}
main .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 83vh;
    width: 100vw;
}
main .intro h2{
    font-size: 2.5em;
    margin: 20px;
}

main .intro *{
    margin: 10px;
}
main .intro h3{
    margin: 10px;
    font-weight: normal;
    text-align: center;
}
main .intro .icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
main .intro .icons a{
    font-size: 2em;
    display: inline-block;
    text-decoration: none;
    color: unset;
    margin-left: 10px;
}
main .scroll-hint{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
}
main .scroll-hint a{
    color: unset;
    text-decoration: none;
    font-size: xxx-large;
    opacity: 0.1;
}
main .scroll-hint a:hover{
    opacity: 0.8;
}
.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}
.handwriting-text-pointed {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    color: #47494a;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 100%;
    user-select: none;
}
.handwriting-text-pointed:hover div img{
    /*color: #6a6d6e;*/
    filter: brightness(0) saturate(100%) invert(45%) sepia(5%) saturate(52%) hue-rotate(149deg) brightness(93%) contrast(94%);
}

.handwriting-text-pointed:hover{
    color: #6a6d6e;
}
.handwriting-text-pointed div p{
    position: absolute;
    top: 55%;
    left: 140px;
    padding-left: 1%;
}
.handwriting-text-pointed div img{
    filter: brightness(0) saturate(100%) invert(26%) sepia(10%) saturate(136%) hue-rotate(156deg) brightness(95%) contrast(86%);
    /* computed using https://codepen.io/sosuke/pen/Pjoqqp */
}
.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}
@media only screen and (max-width: 600px) {
    .handwriting-text-pointed {
        display: none;
    }
    main .intro h2{
        font-size: 2.25em;
        margin: 20px;
    }
    main .intro h3{
        font-size: 0.85em;
    }
    main .intro .icons{
    }
}