#projects{
    padding-top: 12vh;
    margin-top: 2vh;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#projects-display{
    width: 80vw;
    /*background-color: rgba(169, 169, 179, 0.9);*/
    height: fit-content;
    margin-top: 20px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#projects .project-card{
    background-color: rgba(169, 169, 179, 0.08);
    height: 380px;
    width: 300px;
    min-width: 280px;
    border-radius: 20px;
    box-shadow: rgb(27, 28, 29) 10px 10px 10px;
    border: solid 1px #454444;
    overflow: hidden;
    margin: 36px 12px;
    background-color: #353434;
}

#projects .project-card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.83) 10px 10px 30px;
}

#projects .project-card:focus{
    outline: 2px solid #67676d;
    box-shadow: rgba(0, 0, 0, 0.95) 20px 20px 35px;
}

#projects .project-card .top{
    grid-area: top;
    background-color: #575757;
    text-align: center;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#projects .project-card .bottom{
    grid-area: bottom;
    background-color: #353434;
    font-size: 1em;
}

#projects .project-card .bottom ul{
    margin: 3% 10%;
    font-size: 0.9em;
}

#projects .project-card .bottom ul li{
    margin: 5px 0;
}

#projects .project-card .bottom p{
    margin: 10% 4%;
    text-align: left;
}

#projects .project-logo {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 25px;
    margin-left: -30px;
    opacity: 0.9;
}

#projects .project-card .bottom .ps .lab{
    font-size: 1.5em;
    margin: 5px;
}

#projects .project-card .bottom .ps{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-top: 20px;
}


#projects .main-section-title{
    margin-left: 10%;
}

#projects .main-section-title *{
    margin-left: 0;
}

@media only screen and (max-width: 600px) {

    #projects .project-card{
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
    
    #projects-display{
        width: 80vw;
    }

    #projects .project-card .bottom{
        padding-left: 4%;
    }

    #projects .project-card .bottom p{
        font-size: 1em;
        margin-left: 1%;
        padding: 2%;
    }
    
    #projects .project-card .bottom ul{
        font-size: 0.75em;
        margin-left: 5%;
    }
}